.main h1{
  font-size: 24px;
  line-height: 1.1;
}

.main h2{
  font-size: 18px;
}

.organicclicks{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.main{
  width: 90%;
  margin: 0 auto;
}

.main table{
  text-align: center;
  width: 100%;
  background-color:hsl(210, 33%, 18%);
  border-radius: 10px;
  padding: 10px 0;
}

.increase{
  color: rgb(18, 147, 154)
}

.main h1, h2 {
  text-transform: none;
}