.form {
  display: grid;
  grid-template-columns:  1fr;
  row-gap: 20px;
  justify-items: center;
  margin-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}

.ecommvp{
    display: grid;
    grid-template-columns: 1fr;
}

.inner{
  margin: 0 auto;
  width: 90%;
}

.ecommvp h4{
  margin-top: 30px;
}

.ordereditems{
  margin: 0 auto;
  width: 90%;
}

.total{
  width: 90%;
  margin: 0 auto;
}

.warning{
  font-size: 13px;
  color: green;
  width: 90%;
  margin: 0 auto;
}

.submitecom{
  margin-left: 5%;
  margin-bottom: 75px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .form{
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .form h4{
    grid-column: 1 / span 2;
  }
}