.landinghero {
  text-align: center;
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 56px);
  max-width: 800px;
}

.landinghero h1 {
  margin-bottom: 60px;
  text-transform: none;
}

.landinghero p {
  margin-bottom: 60px;
}

.dlandingheroimage {
  border-radius: 4px;
  margin-bottom: 40px;
}

.heroicons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  height: 60px;
  place-content: center;
  place-items: center;
}

.mlandingheroimage{
  display: none;
}

.icons{
  width: 30px;
  padding: 15px 15px;
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
}

.sectionanimation {
  background-color: hsl(210, 34%, 17%);
  height: 1000px;
}

.inner{
  width: 80%;
  margin: 0 auto;
  max-width: 1080px;
}

@media screen and (max-width: 600px) {
  .landinghero {
    padding-top: 80px;
  }
  .landinghero h1 {
    margin-bottom: 40px;
  }
  
  .landinghero p {
    margin-bottom: 40px;
  }
  .dlandingheroimage{
    display: none;
  }
  .mlandingheroimage{
    display: block;
    margin-bottom: 40px;
  }
  .inner{
    width: 90%;
  }
}