.windowsvg {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.usersvg {
  height: 70px;
  grid-column-start: 2;
}

.userhappy {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
}

.commentsvg {
  height: 25px;
  grid-column-start: 3;
}

.empty {
  width: 20px;
}

.landinghero {
  text-align: center;
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  height: calc(100vh - 56px);
  max-width: 800px;
}

.landinghero h1 {
  margin-bottom: 60px;
  text-transform: none;
}

.landinghero p {
  margin-bottom: 60px;
}

.dlandingheroimage {
  border-radius: 4px;
  margin-bottom: 40px;
  display: none;
}

.heroicons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 38px auto;
  place-content: center;
  place-items: center;
  row-gap: 10px;
}

.icons {
  width: 30px;
  padding: 15px 15px;
  border: 1px solid white;
  border-radius: 50%;
  height: 30px;
}

.icons img{
  height: 30px;
  width: 30px;
}

.testimonial1 {
  border-radius: 14px;
  border: 1px solid white;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
  z-index: 1000;
  background-color: #673ab7;
  position: relative;
  display: block;
  text-align: center;
}

.testimonial1 img {
  width: 20%;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  justify-items: center;
}

.products img {
  height: 50px;
}

.leadmagnet {
  width: 90%;
  margin: 0 auto;
  border-radius: 14px;
  border: 1px solid #ffffffa8;
  padding: 20px 0;
}

.freecourse {
  margin-top: 15px;
  text-align: center;
}

.leadmagnetimg {
  width: 80%;
  margin: 0 auto;
}

.sectionanimation {
  background-color: hsl(210, 34%, 17%);
  height: 500px;
}

.inner {
  width: 80%;
  margin: 0 auto;
  max-width: 1080px;
}

.parallaxsnap h2 {
  text-align: center;
}

.refform {
  display: grid;
  grid-template-columns: 6fr max-content;
  padding: 10px;
  gap: 10px;
}

.referralinput {
  background-color: white;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.visuals {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  place-items: end;
  grid-template-rows: 100px;
}

.paragraph {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.questionimg{
    display: block;
    width: 9%;
    margin: 0 auto;
}

.casestudy{
  transform: translateY(100px);
}

@media screen and (min-width: 600px) {
  .landinghero {
    margin-top: 80px;
  }
  .landinghero h1 {
    margin-bottom: 40px;
    font-size: 64px;
  }
  .landinghero p {
    margin-bottom: 140px;
    font-size: 24px;
  }
  .heroicons{
    margin: 58px auto;
  }
  .dlandingheroimage {
    display: block;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  .mlandingheroimage {
    display: none;
  }
  .inner {
    width: 90%;
  }
  .mblock {
    display: none;
  }
  .sectionanimation {
    height: 500px;
  }
  .icons{
    width: 50px;
    padding: 25px;
    height: 50px;
  }
  .icons img{
    height: 50px;
    width: 50px;
  }
}

@media screen and (min-width: 600px) {
  .windowsvg {
    width: 270px;
  }

  .products {
    width: 500px;
  }
  .visuals {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    place-items: end;
    grid-template-rows: 100px;
    transform: translateY(50px);
  }
  .paragraph {
    width: 500px;
  }

  .testimonial1 {
    width: 500px;
  }

  .leadmagnet {
    width: 500px;
  }

  .questionimg{
    width: 50px
  }
  .specific{
    transform: translateY(50px);
  }
}
