.inner {
  width: 90%;
  margin: 0 auto;
}

.loyalty {
  display: grid;
  grid-template-rows: 50px;
  margin: 38px 0;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.usercart {
  display: grid;
  grid-template-columns: max-content max-content;
  margin-right: 10px;
}

.loyalty img {
  height: 50px;
}

.why {
  border-bottom: 1px solid rgb(104, 104, 104);
  padding: 38px 0;
}

.why2 {
  border-bottom: 1px solid rgb(104, 104, 104);
  padding: 38px 0;
}

.referralanimation {
  display: grid;
  grid-template-rows: 50px;
  margin: 38px 0;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 5px;
}

.referralanimation img {
  height: 50px;
}

.refthumb {
  height: 25px !important;
}

.emailauto img {
  width: 100%;
}

.refcart {
  height: 30px !important;
  align-self: end;
}

.comment {
  height: 25px !important;
  align-self: start;
  margin-left: 8px;
}

.customerexperience {
  padding-top: 20px;
  border-bottom: 1px solid rgb(104, 104, 104);
}

.customerimage {
  background-color: white;
  border-radius: 4px;
  padding: 45px 15px;
  margin-bottom: 38px;
}

.emailimage {
  background-color: white;
  border-radius: 4px;
  padding: 0px 15px;
  margin-bottom: 38px;
}

.how h4 {
  font-size: 17.6px;
  margin-bottom: 17px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}

.how p {
  margin-bottom: 38px;
  font-weight: 300;
  line-height: 29.12px;
  text-align: center;
}

.emailauto {
  padding-top: 38px;
  border-bottom: 1px solid rgb(104, 104, 104);
}

.loyaltyhow {
  padding-top: 38px;
  border-bottom: 1px solid rgb(104, 104, 104);
}

.how {
  background-color: hsl(210, 34%, 17%);
}

.loyaltyimage {
  margin-bottom: 38px;
}

.googleauth {
  border-radius: 4px;
  background-color: red;
  text-transform: none;
  width: 200px;
}

.googleauth:hover {
  background-color: red;
}

.facebookauth {
  border-radius: 4px;
  background-color: #4c69ba;
  text-transform: none;
  width: 200px;
}

.facebookauth:hover {
  background-color: #4c69ba;
}

.auth {
  display: grid;
  grid-template-columns: max-content;
  gap: 10px;
  place-content: center;
  margin-bottom: 38px;
  background-color: white;
  padding: 37px 0;
  border-radius: 4px;
  height: 7.91vw;
}

.howrefer {
  padding: 25px 0;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 38px;
}

.reftext {
  font-size: 20px;
}

.refform {
  display: grid;
  grid-template-columns: 7fr 1fr;
  padding: 10px;
  gap: 10px;
}

.referralinput {
  background-color: white;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

@media screen and (min-width: 600px) {
  .whycontainer {
    border-top: 1px solid #616161;
    border-bottom: 1px solid #616161;
  }
  .whyinner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
  }
  .why {
    border-bottom: none;
  }
  .why:nth-child(-n + 3) {
    border-right: 1px solid #616161;
  }
  .why:nth-child(1) {
    padding-right: 30px;
    padding-top: 40px;
  }
  .why:nth-child(3) {
    padding-right: 30px;
    padding-left: 30px;
  }
  .why:nth-child(4) {
    padding-left: 30px;
  }
  .costeffectiveh {
    margin-top: 27px;
  }
  .why2 {
    display: none;
  }
  .howcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid #616161;
  }
}
