.banner {
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  background-image: linear-gradient(to top, rgba(71, 46, 104, 0.9), rgba(71, 46, 104, 0.9));
  color: white;
  margin-bottom: 38px;
  clip-path: polygon(100% 0, 100% 100%, 0 94%, 0 0);
}

.banner img {
  object-fit: contain;
}

.bannercontent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
}
