.upperbanner{
  height: 60vh;
}

.banner {
  height: 60vh;
  color: white;
  position: relative;
  display: grid;
  margin-bottom: 38px;
  clip-path: polygon(100% 0, 100% 100%, 0 94%, 0 0);
}

.banner img {
  object-fit: contain;
}

.bannercontent {
  place-self: center;
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
  transform: translateY(-50px);
}

.getmbutton{
  display: block;
}

.getdbutton{
  display: none;
}

@media screen and (min-width: 600px) {
 .banner{
  clip-path: polygon(100% 0, 100% 100%, 0 92%, 0 0);;
 }
 .getmbutton{
   display: none;
 }
 .getdbutton{
   display: block;
 }
}
