body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  overflow-x: hidden; /* Hide scrollbars */
}

*:focus {
  outline: none !important;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.tl-edges {
  overflow-x: visible;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #484459;
}

h1,
h2,
h4,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin-top: 0;
}

h1 {
  font-size: 30.4px;
  letter-spacing: 6.08px;
  line-height: 45.6px;
}

h4 {
  font-size: 17.6px !important;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: 3.52px;
  text-align: center;
}

p {
  font-weight: 300;
  line-height: 29.12px;
}

dt {
  font-weight: 400;
  line-height: 29.12px;
  font-size: 19.9px;
  margin-bottom: 1.2em;
}

dd {
  font-weight: 300;
  line-height: 29.12px;
  font-size: 14.5px;
  margin-bottom: 2em;
  margin-inline-start: 20px;
}

ul {
  list-style: disc;
  margin: 1.4em 0;
  padding-left: 1.4em;
}

li {
  font-size: 19.6px;
  font-weight: 300;
}

.rv-discrete-color-legend-item {
  color: lightgrey !important;
}

.gestures-main {
  background-color: hsl(210, 34%, 17%);
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 30px 0;
}

.gestures-item {
  position: relative;
  width: 250px;
  height: 70px;
  pointer-events: auto;
  transform-origin: 50% 50% 0px;
  border-radius: 4px;
  color: white;
  line-height: 70px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  text-align: center;
}

.gestures-fg {
  display: grid;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  transform: translate3d(0px, 0px, 0px) scale(1);
  cursor: -webkit-grab;
  background-color: #add8e6;
  color: #fff;
  position: absolute;
  height: 70px;
  width: 250px;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.05);
  font-size: 2em;
  font-weight: 400;
  -webkit-transition: box-shadow 0.75s;
  transition: box-shadow 0.75s;
  font-family: Chinese Quote, -apple-system, system-ui, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 19.9px;
  font-weight: 500;
  line-height: 19.9px;
}

.gestures-bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}

button {
  color: white;
  background-color: #484459;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #605b76;
}

#section2 {
  margin-bottom: 50px;
  margin-top: 30px;
  padding-top: 10px;
  content-visibility: auto;
}

.inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

.banner {
  height: calc(100vh - 150px);
  position: relative;
}

.banner img {
  object-fit: contain;
}

.bannercontent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
}

.hero-feature-border {
  height: 1px;
  background-color: rgba(144, 144, 144, 0.25);
  width: 10px;
  margin-left: 1px;
  animation: bordergrow;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes bordergrow {
  0% {
    width: 10px;
  }
  100% {
    width: 100px;
  }
}

.banner p {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  line-height: 26.4px;
}

.section2grid {
  display: grid;
  grid-template-columns: 1fr;
}

.section2 .phone {
  width: 250px;
  margin: 0 auto;
}

#section3 {
  border-top: solid 1px rgba(97, 97, 97, 0.15);
  margin-bottom: 20px;
  content-visibility: auto;
}

.section3grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1080px;
  margin: 0 auto;
}

.contentpost {
  padding: 20px 0;
  border-bottom: 1px solid rgba(104, 104, 104, 0.15);
}

.contentpost:nth-child(3) {
  border-bottom: none;
}

.postdiv h4 {
  position: relative;
  color: black;
}

.postdiv a {
  color: black;
}

.postdiv p {
  text-align: center;
}

.postdiv img {
  padding-bottom: 40px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.postdiv svg {
  margin: 0 auto;
  display: block;
}

.postdiv {
  width: 90%;
  margin: 0 auto;
}

.section4 {
  background-color: #484459;
  padding-top: 20px;
  padding-bottom: 20px;
  content-visibility: auto;
}

.section4 h4 {
  width: 90%;
  margin: 14px auto 30px auto;
  max-width: 1080px;
  color: white;
}

.section4grid {
  display: grid;
  grid-template-columns: 1fr;
}

.infodiv {
  overflow: hidden;
}

.infodivimage {
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.infodivimage:hover {
  transform: scale(1.1);
  overflow: hidden;
}

.infocontentdiv {
  background-color: #3d3a4b;
  margin-bottom: 35px;
}

.infocontentdiv h4 {
  padding-top: 20px;
}

.infocontentdiv a {
  color: white;
}

.acontent {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

.contact {
  width: 90%;
  margin: 0 auto 75px auto;
  max-width: 1080px;
  padding-top: 20px;
}

.formitem {
  padding: 10px 0;
  text-transform: uppercase;
}

.former {
  display: grid;
  grid-template-columns: 1fr;
}

input {
  transition: border-color 0.2s ease-in-out;
  height: 2.75em;
  border: 1px solid rgba(144, 144, 144, 0.25);
  border-radius: 4px;
  background-color: rgba(144, 144, 144, 0.15);
  color: inherit;
  display: block;
  padding: 0 calc(5% - 2px);
  outline: 0;
  text-decoration: none;
  width: 90%;
  margin: 0px;
}

input:focus {
  border: 2px solid #7c759a;
}

input[type='checkbox'] {
  /* background: rgba(144, 144, 144, 0.15);
  border: 2px solid rgba(144, 144, 144, 0.25);
  height: 2.0625em;
  margin: 0;
  padding: 0;
  width: 2.0625em;
  appearance: none; */
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
  outline: 0;
}

input[type='checkbox'] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  margin-bottom: 0.16em;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
  outline: 0;
}

label {
  letter-spacing: 0.2em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}

label:focus {
  outline: 0 !important;
}

input[type='checkbox'] + label:before {
  background: rgba(144, 144, 144, 0.15);
  border: solid 2px rgba(144, 144, 144, 0.25);
  border-radius: 4px;
  content: '';
  display: inline-block;
  font-size: 0.6em;
  height: 13px;
  left: 0;
  line-height: 2.0625em;
  padding-left: 3px;
  padding-bottom: 6px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 16px;
  outline: none;
}

input[type='checkbox']:checked + label:before {
  background-color: #484459;
  border-color: #484459;
  color: #fff;
  content: '\2713';
  outline: none;
}

textarea {
  transition: border-color 0.2s ease-in-out;
  height: 5.5em;
  border: 1px solid rgba(144, 144, 144, 0.25);
  border-radius: 4px;
  background-color: rgba(144, 144, 144, 0.15);
  color: inherit;
  display: block;
  padding: 10px calc(5% - 2px);
  outline: 0;
  text-decoration: none;
  width: 90%;
  margin-bottom: 10px;
  margin-right: 0px;
}

textarea:focus {
  border: 2px solid #7c759a;
}

.parallaxcontainer::-webkit-scrollbar {
  display: none;
}

.parallaxcontainer {
  -ms-overflow-style: none;
  color: white;
}

.parallaxdesktop {
  display: none;
  -ms-overflow-style: none;
}

.parallaxdesktop::-webkit-scrollbar {
  display: none;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: 'Kanit', sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 450px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  transform: translate3d(-35%, 0, 0);
}

.header {
  margin-left: 350px;
  font-size: 70px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(
    70% 0,
    100% 0,
    calc(100% - 20vw) 100%,
    calc(70% - 20vw) 100%
  );
}

.getdbutton {
  display: none;
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

#firstheader {
  background-color: rgb(94, 173, 187);
  color: white;
  padding: 38px 0;
  content-visibility: auto;
}

#firstheader h4 {
  width: 90%;
  margin: 0px auto;
  text-transform: none;
}

.rv-xy-plot__series--label-text {
  fill: black !important;
}

@media only screen and (min-width: 830px) {
  #section2 {
    margin-bottom: 50px;
  }

  dd {
    margin-inline-start: 40px;
    font-size: 19.9px;
  }

  .inner {
    width: 85%;
  }

  .acontent {
    height: 140px;
    width: 85%;
  }

  .phone {
    width: 400px;
    margin: 0 auto;
  }

  .section3grid {
    padding-top: 0px;
    grid-template-columns: 1fr 1.1fr 1fr;
  }

  .section4grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  #section3 {
    margin-bottom: 0px;
    border-bottom: none;
  }

  .postdiv {
    border-bottom: none;
  }
  .section4 {
    padding-bottom: 50px;
  }

  .section4 h4 {
    width: 85%;
    font-size: 18px;
    padding-top: 30px;
    margin: 14px auto 50px;
  }

  .banner {
    height: calc(100vh - 56px);
  }

  .banner img {
    display: block;
  }

  .contact {
    width: 85%;
    padding-top: 40px;
  }

  .textdiv {
    grid-column: span 2;
  }

  textarea {
    margin-bottom: 30px;
    padding: 5px 10px;
    width: calc(100% - 20px);
  }

  input {
    padding: 2px 5px;
    width: calc(100% - 10px);
  }

  .former {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }

  .contentpost {
    padding: 30px;
    border-right: 2px solid rgba(144, 144, 144, 0.15);
    border-bottom: none;
  }

  .infocontentdiv {
    margin-bottom: 0px;
  }

  .infopost:nth-child(5) h4 {
    padding-top: 20px;
    margin-bottom: 28px;
  }
  #firstheader h4 {
    padding: 30px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 600px) {
  .parallaxcontainer {
    display: none;
  }
  .parallaxdesktop {
    display: block;
  }
  .pd1 {
    background-image: url('https://www.caricode.co/images/image4.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  .pdheading {
    text-align: center;
    color: green;
  }
  h4 {
    font-size: 21.6333px;
    letter-spacing: 4.32667px;
    line-height: 32.45px;
  }
  .getmbutton {
    display: none;
  }
  .getdbutton {
    display: block;
  }
}
