.simple-trans-main > div > div {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 600px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 15px;
  will-change: transform, opacity;
  overflow-x: hidden;
}

.slide-buttons {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  max-width: 900px;
  margin: 60px auto;
  justify-content: center;
  gap: 20px;
}

.secondary-button {
  background-color: rgb(155, 155, 155);
  border-color: none;
  color: #413d53 !important;
}

.secondary-button:hover{
  background-color: rgb(255, 255, 255);
}

.active-button{
  background-color: rgb(255, 255, 255);
  color: #413d53 !important;
}

.active-button:hover {
  background-color: rgb(255, 255, 255);
  color: #413d53 !important;
}

.simple-trans-main h4{
  margin: 0;
}
